Package: com.whited00r.vetustate
Name: Vetustate
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Something old, something new.
Maintainer: whited00r
Author: whited00r
Section: Tweaks
